* { box-sizing:border-box;}
 html, body { height: 100%;}

body {

  background-color: rgba(32, 8, 61, 0.859);
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.create {

    background-color: rgba(67, 3, 146, 0.859);
    max-width: 785px;
    min-width: 320px;
    width: 100%;
    align-content: auto;
    padding: 3rem;
    border-radius: 15px;
}


/* LOGIN */
a {

color: rgb(147, 42, 165);
text-decoration: none;

}

.log {

    text-align: right;

}


/* CONTENT */

.content h1 {

      text-align: center;
      font-size: 26px;

}

.content p {

     text-align: center;
     font-size: 16px;
     line-height: 26px;

}

.content {

 width: 65%;
 margin: 2rem auto;

}

/* FORMULARIO */
.form {

 margin-top: 2rem;

}

.form label {

  font-weight: bold;
  display: block;
  font-size: 14px;
  margin-bottom: .3rem;

}

.form input {

     display: block;
     border: none;
     width: 100%;

}

.form input:not([type="submit"]) {

 background-color: transparent;
 padding: 1.5rem;
 border: 1px solid;
 border-radius: 5px;
 margin-bottom: 1rem;
 color: white;
 font-size: 16px;

}

.form input[type=submit] {

  border-radius: 5px;
  background-color: brown;
  padding: 1rem 3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;

} 

#enviar:hover {

 background-color: rgb(255, 119, 0);

}

/* LEGAL */
.legal {

border-radius: 15px;
padding: 1rem;
background-color: rgba(67, 3, 146, 85);
margin: 0 auto;
font-size: 14px;
width: 75%;

}

